<div class="radio-buttons">
  <label>
      {{view 'radio-button' name="selectionTest" value='1' checked=selectedValue}}
      True
  </label>

  <label>
      {{view 'radio-button' name="selectionTest" value='0' checked=selectedValue}}
      False
  </label>
</div>
