<div class="radio-buttons">
  <label>
      {{view 'select' content=question.predicateSelectOptions
                      optionValuePath="content.value"
                      optionLabelPath="content.label"
                      value=question.currentSelectedPredicate
                      prompt="..."
                    }}
  </label>
</div>
