<div class="radio-buttons">
  <label>
      {{view 'radio-button' value='1' checked=question.selectedValue}}
      True
  </label>

  <label>
      {{view 'radio-button' value='0' checked=question.selectedValue}}
      False
  </label>
</div>
