<div class="radio-buttons">
  <label>
      {{view 'radio-button' value='1' checked=question.selectedValue}}
      {{i18n 'true'}}
  </label>

  <label class="pull-right">
      {{view 'radio-button' value='0' checked=question.selectedValue}}
      {{i18n 'false'}}
  </label>
</div>
