@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.row {
  // give it some breathing room
  // padding-top: 2em;
  margin-left: 0px;
  margin-right: 0px;
}

.navbar-brand {
  margin-right: 0.5em;
}

.main {
  // space for navbar
  margin-top: 85px;
}

.pagination-container {
  max-width: 200px;
  margin: auto;
  text-align: center;
  a {
    cursor: pointer;
  }
}

.list-group {
  .list-group-item-heading {
    text-align: center;
  }
  .list-group-item-text {
    .prct-circles {
      margin-top: 2em;
      margin-bottom: 2em;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
    }
    .radio-buttons {
      margin-top: 2em;
      margin-bottom: 2em;
      width: 120px;
      margin-left: auto;
      margin-right: auto;
    }
    .list-text {
      margin-top: 2em;
      margin-bottom: 2em;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      .free-text-input {
        width: 100%;
        height: 4em;
      }
    }
    .progress {
      margin-top: 2em;
      margin-bottom: 2em;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    img {
      cursor: pointer;
    }
  }
}

.submit-container {
  button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.summary {
  margin-top: 2em;
  text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222;
  border-color: #090909;

  .language-switcher {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
  }
}


// Login Box

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
