@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.row {
  // give it some breathing room
  // padding-top: 2em;
}

.navbar-brand {
  margin-right: 0.5em;
}

.main {
  // space for navbar
  margin-top: 85px;
}

.pagination-container {
  max-width: 200px;
  margin: auto;
  a {
    cursor: pointer;
  }
}

.list-group {
  .list-group-item-heading {
    text-align: center;
  }
  .list-group-item-text {
    .prct-circles {
      margin-top: 2em;
      margin-bottom: 2em;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      justify-content: space-between;
    }
    .list-text {
      margin-top: 2em;
      margin-bottom: 2em;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    .progress {
      margin-top: 2em;
      margin-bottom: 2em;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
    }
    img {
      cursor: pointer;
    }
  }
}

.submit-container {
  button {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.summary {
  margin-top: 2em;
  text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 80px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #222;
  border-color: #090909;

  .language-switcher {
    width: 20em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    text-align: center;
  }
}
